:root {
/* colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-list: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --background-color: #ffffff;
  --color-dairy: #fcfcfc;
/* others */
  --indent: 24px;
  --items: 4;
}
.style-header-main {
 margin-left: auto;
margin-right: auto;
 padding-top: 188px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  max-width: 496px;
}
.style-header-medium {
  padding-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-grey);
}
.style-header-port {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.style-header-small {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.p-text-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-list);
}
.text-style-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 4px;
  color: var(--background-color);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

.small-text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.link-text {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
}


/* card set */
.card-set{
display: flex;
flex-wrap: wrap;
gap: var(--indent);
}
.card-set-item{
flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* reset */
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
img{
  display: block;
}
button{
  cursor: pointer;
}

.link {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  width: 1158px;
  padding: 0 15px;
  margin: auto;
}

/* header */
.header{
 
}
.header-logo{
margin-right: 76px;
}
.header-nav{
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-map:not(:last-child){
  margin-right: 40px;
}


.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 115px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-style {
  width: 71px;
  height: 21px;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}
.footer-logo {
  width: 71px;
  height: 21px;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}
.footer-logo-pos{
padding-top: 100px;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.header-contact-map:not(:last-child){
  margin-right: 40px;
}

/* body */

.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-list);
  background-color: var(--background-color);
}

.link:hover,
.link:focus {
  color: var(--color-ocean);
}

.section{
  padding: 120px 0;
}
.second-section{
  padding-bottom: 120px;
}
.principles-section{
  display: flex;
}
.principles-section-list{
  width: 264px;
}
.principles-section-list:not(:last-child){
  margin-right: 24px;
}

.team-card {
  width: 264px;
  height: 380px;
  background-color: var(--background-color);
}

.our-team-section {
  background-color: var(--color-cloud);
padding-top: 120px;
  height: 732px;
}

/* hero */
.hero {
  background-color: var(--color-navy-blue);
  color: var(--background-color);
  font-size: 56px;
  line-height: 1.1;
  height: 600px;
  width: auto;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-p {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
.footer {
  height: 312px;
  background-color: var(--color-navy-blue);
}


.port-btn {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.port-btn:hover,
.port-btn:focus {
  color: var(--background-color);
  background-color: var(--color-ocean);
}

