:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-list: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --background-color: #ffffff;
  --color-dairy: #fcfcfc;
}
.style-header-main {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  max-width: 500px;
}
.style-header-medium {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-grey);
}
.style-header-port {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.style-header-small {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.p-text-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-list);
}
.text-style-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.hero-btn {
  color: var(--background-color);
  background-color: var(--color-iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

.small-text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
.link-text {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
}

/* header */

.header-container {
}

.header-contact {
}

.nav-list {
}

.logo {
  width: 44px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-style {
  width: 71px;
  height: 21px;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}
.footer-logo {
  width: 71px;
  height: 21px;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}

.address {
  font-style: normal;
}

/* body */

.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-list);
  background-color: var(--background-color);
}

.link:hover,
.link:focus {
  color: var(--color-ocean);
}

/* reset */


.link {
  text-decoration: none;
}

.team-card {
  background-color: var(--background-color);
}

.list {
  list-style: none;

}

.our-team-section {
  background-color: var(--color-cloud);
}

/* hero */
.hero {
  background-color: var(--color-navy-blue);
  color: var(--background-color);
  font-size: 56px;
  line-height: 1.1;
}

.port-btn {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.port-btn:hover,
.port-btn:focus {
  color: var(--background-color);
  background-color: var(--color-ocean);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
.footer {
  background-color: var(--color-navy-blue);
}
